h1
{
 color: rgb(174, 25, 40) ; text-align : center ;background-color: rgb(0, 0, 0); height: 40px;
} 
#headingone{
    color: rgb(63, 63, 162);background-color:blanchedalmond; text-align:center; height: 30px;
}
.thsiisdibba{
    color:aqua;
    height:100px;
    background-color: black;
}